.row
    .col-md-6
        h1 Product List
    table.table
        thead
            tr
                th J. Cloth Type
                th J. Cloth Price
                th City
                th Location
                th Custom Details
        tbody
            tr 
                td=product.name
                td=product.price
                td=product.city
                td=product.location
                td=product.detail
                td  
                    a(href="/products/cart/"+product._id    class="btn btn-info ml-3") Add To Cart